{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="banner">
    <!-- <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100"> -->
    <img src="https://drive.google.com/uc?export=view&id=19V0iC0eiIIZ8HW_XqKlK8rTsFusKuIVl" alt=""
        class="img-fluid w-100">
    <h1 class="text-center">
        Our Services
    </h1>
</div>

<div class="container-fluid" style="padding: 7% 15%;">
    <div class=" row ">
        {% for service in services %}
        <div class="card border-0 text-center text-dark bg-light  ml-3 mr-3" style="margin-top:10px;">
            <div class="card-head">
                <h5 style="padding: 5px;" class="card-title text-dark">{{service.title|title}}</h5>
            </div>
            <div class="card-body">

                <h6 class="card-text">{{service.description|safe}}</h6>
                <a href="{% url 'contact' %}" class="btn btn-accent btn-block">More Info<i
                        class="fab fa-youtube-f fa-lg	"></i></a>

            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}