{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 style="text-align: center; padding: 5px;">Our Services</h1>

<div class="card border-0 text-center text-dark bg-light  ml-3 mr-3" style="padding:7px;">
    <div class="card-head">
        <h5 class="card-title text-dark">Heading</h5>
    </div>
    <div class="card-body">

        <h6 class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem cum ex harum officiis
            illo
            laboriosam, accusantium molestias est quis reprehenderit, pariatur nulla possimus, dolor sit eos expedita
            rerum provident obcaecati.</h6>
        <a href="{{member.youtube_link}}" class="btn btn-accent btn-block">More Info<i
                class="fab fa-youtube-f fa-lg	"></i></a>

    </div>
</div>


{% endblock %}