{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="searchpage">

    <h1 class="text-center" style="">
        Search Result for {{keyword}}
    </h1>

    <section class="searchbox container mt-5 p-3 bg-accent">

        <form action="{% url 'search' %}">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <select name='city' id="inputState" class="form-control">
                        <option selected disabled hidden>City</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <select id="inputState" class="form-control">
                        <option selected disabled hidden>Camera Type</option>
                        <option>Value 1</option>
                        <option>Value 2</option>
                        <option>Value 3</option>
                        <option>Value 4</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <select class="form-control">
                        <option selected disabled hidden>Category</option>
                        <option>...</option>
                    </select>
                </div>
            </div>

        </form>
        <div class="text-center">

            <button class="btn btn-light">Search</button>
        </div>
    </section>



    <section class="search-results container mt-3 grid">

        {% for youtuber in youtubers %}
        <div class="card border-0 text-center">
            <div class="feature-text">
                <a href="{% url 'youtuber_detail' youtuber.id %}">
                    {% if youtuber.image  %}
                    <img src="{{youtuber.image.url}}" class="card-img-top" alt="team-member">
                    {% else %}
                    <img src="{{youtuber.image_url}}" class="card-img-top" alt="team-member">
                    {% endif %}
                </a>
            </div>
            <div class="card-body">
                <a href="{% url 'youtuber_detail' youtuber.id %}">
                    <h5 class="btn text-md font-weight-bolder" onclick="">
                        {{youtuber.name|title}}
                    </h5>
                </a>

                <p class="card-text">{{youtuber.categorey}}</p>
                <div class="person-description mt-2">
                    <button class="btn btn-accent">City: {{youtuber.city}} </button>
                    <button class="btn btn-accent">Age: {{youtuber.age}} </button>
                    <a class="btn btn-accent" href="{{youtuber.youtube_channel_link}}">Youtube↗</a>
                </div>
                <div class="person-description mt-2">
                    <button class="btn btn-accent">Team: {{youtuber.team_type}} </button>
                    <button class="btn btn-accent"> Cam: {{youtuber.camera_type}} </button>
                    <button class="btn btn-accent"> Subs: {{youtuber.subscriber_count}} </button>
                </div>
            </div>
        </div>
        {% endfor %}

    </section>
</main>

{% endblock %}