{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="single-page-tubers">
    <!-- <div class="banner">
        <img src="/media/slider/2020/banner2.png" alt="" class="img-fluid w-100">
        <h1 class="text-center">
            Tubers
        </h1>
    </div> -->

    <section class="head container mt-5 mb-5">
        <div class="row">
            {% include 'message.html' %}
        </div>
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <a href="{{youtuber.youtube_channel_link}}">
                    <h1 class="text-center"><u>{{youtuber.youtube_channel_name|title}} </u></h1>
                </a>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <h2 class="text-accent text-center">
                    $ {{youtuber.price}}
                </h2>
            </div>
            <div class="col-md-4 d-flex justify-content-center align-items-center">
                <img src="{{youtuber.image_url}}" class="img-fluid" alt="team-member">
                <h5 class="text-center" style="position: absolute; top: 150px;">{{youtuber.name|title}}</h5>
            </div>

        </div>
    </section>
    <section class="video container text-center">
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/{{youtuber.video_id}}" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <!-- <img src="https://placeimg.com/640/480/arch" class="img-fluid" alt="team-member"> -->

    </section>
    <section class="descritpion container">
        <h4>Descritpion</h4>
        <p class="mt-2 mb-2">{{youtuber.description|safe}}</p>


    </section>

    <section class="container w-50">

        <div class="person-description mt-2">
            <button class="btn btn-accent">City: {{youtuber.city}} </button>
            <button class="btn btn-accent">Age: {{youtuber.age}} </button>
            <button class="btn btn-accent">Price: {{youtuber.price}} </button>
        </div>
        <div class="person-description mt-2">
            <button class="btn btn-accent">Team: {{youtuber.team_type}} </button>
            <button class="btn btn-accent"> Cam: {{youtuber.camera_type}} </button>
            <button class="btn btn-accent"> Subs: {{youtuber.subscriber_count}} </button>
        </div>

    </section>

    {% if user.is_authenticated  %}
    <section class="youtuber-form container mt-5 mb-5">
        <div class="row">
            <form class="col-md-8 offset-md-2" method="POST" action="{% url 'youtuber_contact' youtuber.id %}">
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{user.id}}">
                <h3 class="pt-2 pb-2">Fill the Form to reach out {{youtuber.name|title}}</h3>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input name='first_name' value="{{user.first_name}}" class="form-control"
                            placeholder="First Name *" required>
                    </div>
                    <div class="form-group col-md-4">
                        <input name='last_name' required value="{{user.last_name}}" class="form-control"
                            placeholder="Last Name *">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="email" name='email' value="{{user.email}}" class="form-control"
                            placeholder="Email *" required>
                    </div>
                </div>

                <div class="form-group">
                    <input class="form-control" name="subject" placeholder="Subject... *" required>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" name="city" class="form-control" placeholder="City">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" name="state" class="form-control" placeholder="State">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="number" name="phone" class="form-control" placeholder="Phone Number">
                    </div>

                </div>

                <div class="form-group pt-2">
                    <textarea class="form-control" name="message" required rows="3"
                        placeholder="Details Message *"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-accent">Submit</button>
                </div>

            </form>
        </div>

    </section>
    {% else %}
    <section class="youtuber-form container mt-5 mb-5">
        <div class="row">
            <form class="col-md-8 offset-md-2" method="POST" action="{% url 'youtuber_contact' youtuber.id %}">
                {% csrf_token %}
                <h3 class="pt-2 pb-2">Fill the Form to reach out {{youtuber.name|title}}</h3>
                <div class=" form-row">
                    <div class="form-group col-md-4">
                        <input name='first_name' class="form-control" placeholder="First Name *" required>
                    </div>
                    <div class="form-group col-md-4">
                        <input name='last_name' class="form-control" placeholder="Last Name *" required>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="email" name='email' class="form-control" placeholder="Email *" required>
                    </div>
                </div>

                <div class="form-group">
                    <input class="form-control" name="subject" placeholder="Subject... *" required>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="text" name="city" class="form-control" placeholder="City">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="text" name="state" class="form-control" placeholder="State">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="number" name="phone" class="form-control" placeholder="Phone Number">
                    </div>

                </div>

                <div class="form-group pt-2">
                    <textarea class="form-control" name="message" rows="3" placeholder="Details Message *"
                        required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-accent">Submit</button>
                </div>

            </form>
        </div>

    </section>
    {% endif %}



</main>
{% endblock %}